body,html {
  margin: 10px;
  position: relative;
}

.card {
  font-family: arial;
  font-size: 15px;
  z-index: 1;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 190px;
  padding: 10px;
  background-color: #eee;
}

.flex {
  display: flex;
  position: relative;
  font-size: 14px;
}
.offset span {
  margin: 11px 10px 0 0;
}
.range span {
  margin: 2px 10px 0 0;
}

.flex label {
  position: relative;
  font-family: monospace;
  font-size: 17px;
  margin-left: 5px;
}

input[type=number] {
  font-size: 24px;
  outline: none;
  display: block;
  width: 185px;
  margin-bottom: 10px;
}
input[range] {
  width: 80px;
}
input[add] {
  margin-top: 10px;
}
label[add] {
  font-size: 13px;
  margin-left: 4px;
}

h4 {
  margin: 25px 0 0 0;
}

.card div, span, label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

button {
  font-size: 13px;
  outline: none;
  padding: 8px;
  margin-top: 8px;
  width: 99%;
  text-align: left;
}
button[action='add-squares'] {
  margin-top: 20px;
}

.col {
  background-color: #fefefe;
  border: 1px solid #ccc;
  position: absolute;
  top: 0px;
}

.fake {
  margin: 10px;
  background-image: url('stripe.png');
  opacity: .1;
}

.col-1 {
  width: 250px;
}

.col-2 {
  left: 280px;
  width: 250px;
}

.col-3 {
  position: absolute;
  width: 400px;
  top: 0px;
  left: 560px;
}

.col-3 img {
  margin: 0 0 10px 25px;
  vertical-align: bottom;
  background-color: #f4f4f4;
}

.square {
  background-color: #f00;
  width: 50px;
  height: 50px;
  margin-left: 23px;
  margin-bottom: 20px;
  float: left;
}

.square {
  opacity: .3;
  transform: translateY(80px) translateZ(0px);
  transition: all 3s cubic-bezier(.19, 1, .22, 1);
}

.square[fold-done] {
  opacity: 1;
  transform: translateY(0px);
}

.statsjs {
  position: fixed;
  top: 10px;
  left: 10px;
}
